
@{
    //Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

@model Pedido

<h2>Edici&oacute;n de Pedido</h2>

<form action="/Pedidos/Editar" method="Post">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary(false)
        </div>
    }

    <div>
        @Html.HiddenFor(p => p.IdPedido)
    </div>

    <div>
        @Html.LabelFor(p => p.NombreNegocio)
        @Html.Raw(": ")
        @Html.TextBoxFor(p => p.NombreNegocio)
    </div>
    <div>
        <label>Descripci&oacute;n: </label>
        @Html.TextBoxFor(p => p.Descripcion)
    </div>
    <div>
        @Html.LabelFor(p => p.PrecioUnidad)
        @Html.Raw(": ")
        @Html.TextBoxFor(p => p.PrecioUnidad, new { type = "number" })
    </div>
    <div>
        @Html.LabelFor(p => p.PrecioDocena)
        @Html.Raw(": ")
        @Html.TextBoxFor(p => p.PrecioDocena, new { type = "number" })
    </div>
    <div>
        @Html.LabelFor(p => p.GustoEmpanada)
        @Html.Raw(": ")
        @*@Html.DropDownListFor(p => p.GustoEmpanada, new SelectList(ViewBag.ListaGusto, "IdGustoEmpanada", "Nombre", new { type = "multiple" }))*@
        <select name="IdGustoEmpanada" multiple>
            @foreach (GustoEmpanada ge in ViewBag.ListaGusto)
            {

                <option value="@ge.IdGustoEmpanada">@ge.Nombre</option>
            }
        </select>
    </div>
    <div>
        @Html.Label("Email Usuarios Invitados: ")
        <select name="IdUsuario">
            @foreach (Usuario u in ViewBag.UsuariosInvitados)
            {
                if (u.InvitacionPedido.FirstOrDefault(i => i.IdPedido == Model.IdPedido).Completado)
                {
                    <option value="@u.IdUsuario">@u.Email @Html.Raw("(SI)")</option>
                }
                else
                {
                    <option value="@u.IdUsuario">@u.Email @Html.Raw("(NO)")</option>
                }
            }
        </select>
    </div>

    <div>
        @Html.ValidationMessageFor(p => p.NombreNegocio, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(p => p.PrecioUnidad, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(p => p.PrecioDocena, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(p => p.GustoEmpanada, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.Label("Re-enviar Invitación: ")
        <select name="IdReEnviarInvitacion" id="IdReEnviarInvitacion">
            <option value="0">A Nadie</option>
            <option value="1">Re-enviar Invitaci&oacute;n a Todos</option>
            <option value="2">Enviar s&oacute;lo a los Nuevos”</option>
            <option value="3">Re-enviar s&oacute;lo a los que no eligieron gustos</option>
        </select>
        <br />
        <input type="submit" value="Guardar" id="btnGuardar" class="btn btn-aceptar" />
    </div>
</form>

<div>
    <button type="button" class="btn btn-aceptar" id="btnConfirmar" name="btnConfirmar">Confirmar</button>
</div>

