
@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
@model Pedido


<script type="text/javascript">
    $('select').selectpicker();
</script>
@using (Html.BeginForm("Editar", "Pedidos", FormMethod.Post))
{

    <div class="container">
        <h2>Editar pedido</h2>
        <hr />

        @Html.HiddenFor(model => model.IdPedido)
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(false)
            </div>
        }


        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Nombre de negocio</label>
                        @Html.TextBoxFor(model => model.NombreNegocio, new { @class = "form-control", placeholder = "Nombre de Negocio" })
                        @Html.ValidationMessageFor(model => model.NombreNegocio, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label>Precio por unidad</label>
                        @Html.TextBoxFor(model => model.PrecioUnidad, new { @class = "form-control", placeholder = "Precio por unidad" })
                        @Html.ValidationMessageFor(model => model.PrecioUnidad, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label>Precio por docena</label>
                        @Html.TextBoxFor(model => model.PrecioDocena, new { @class = "form-control", placeholder = "Precio por docena" })
                        @Html.ValidationMessageFor(model => model.PrecioDocena, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label>Descripción</label>
                        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", placeholder = "Descripción" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <table id="tabla" class="table table-striped">
                            <thead>
                                <tr class="bg-warning">
                                    <th>Usuario que confirmaron gustos</th>
                                </tr>
                            </thead>
                            @*<tbody>
                                @foreach (var p in ViewBag.GustosElegidos)
                                {
                                    <tr>
                                        <td>@p.Email</td>
                                    </tr>
                                }
                            </tbody>*@
                        </table>
                    </div>
                    <div class="col-md-3">
                        <select class="selectpicker" multiple data-live-search="true" title="Seleccione gustos.." name="GustoDeEmpanadaSeleccionados">
                            @foreach (var item in Model.GustoEmpanada)
                            {
                                <option value="@item.IdGustoEmpanada" selected>@item.Nombre</option>
                            }
                            @foreach (var item in ViewBag.Lista as MultiSelectList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="selectpicker" multiple data-live-search="true" title="Seleccione invitados.." name="UsuariosSeleccionados">
                            @foreach (var item in ViewBag.Mailseleccionados as MultiSelectList)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            @foreach (var item in ViewBag.Mails as MultiSelectList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="selectpicker" data-live-search="true" title="Re-enviar invitación.." name="EnviarInvitaciones">
                            <option value="0">A Nadie</option>
                            <option value="1">Re - enviar Invitación a Todos</option>
                            <option value="2">Enviar sólo a los Nuevos</option>
                            <option value="3">Re - enviar sólo a los que no eligieron gustos</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-offset-3">
                        <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-block btn-danger" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" id="btnGuardar" name="btnGuardar" class="btn btn-block btn-info" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Confirmar" id="btnConfirmar" 
                               onclick="return confirm('¿Está seguro que desea Confirmar el pedido? Una vez confirmado no se podrá modificar.')" name="btnConfirmar" class="btn btn-block btn-info" />
                    </div>
                </div>
            </div>
            <br /><br />
        </div>

    </div>

}