@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@{
    ViewBag.Title = "Agregar";
}
@model Pedido

<form action="/Pedidos/Iniciar" method="Post" autocomplete="off">
    @*@using (Html.BeginForm("Pedidos", "Iniciar", FormMethod.Post))
        {*@
    <div class="container">
        <h2>Usted esta a punto de iniciar un pedido</h2>
        <hr />

        @Html.HiddenFor(p => p.IdPedido)
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(false)
            </div>
        }
        <div class="card">
            <img class="card-img-top card-detail-max">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">
                    <div class="form-group">
                        @Html.LabelFor(p => p.NombreNegocio)
                        @Html.TextBoxFor(p => p.NombreNegocio, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Descripcion)
                        @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(p => p.PrecioUnidad)
                        @Html.TextBoxFor(p => p.PrecioUnidad, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => p.PrecioDocena)
                        @Html.TextBoxFor(p => p.PrecioDocena, new { @class = "form-control" })
                    </div>
                    <div class="form-group">

                        @*@Html.DropDownListFor(p => p.SelectedValues, new MultiSelectList(p.GetCategoryList().OrderBy(c => c.Value), "Key", "Value"), "Select Category", new { @class = "chzn-select form-control", multiple = "multiple" })*@

                        @Html.DropDownListFor(p => p.GustoEmpanada, new SelectList(ViewBag.ListaGusto, "IdGustoEmpanada", "Nombre", new { type = "multiple" }))
                    </div>
                    <div class="form-group">
                        @*Invitados:  @Html.DropDownListFor(p => p.InvitacionPedido, new SelectList(ViewBag.ListaInvitacion, "IdInvitacionPedido", "Usuario"))*@
                    </div>
                </p>
                <input type="submit" text="Inciar pedido" />
            </div>
        </div>
    </div>


    @*}*@

</form>



























