
@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

@model List<Pedido>
<div class="container">
    <h2>Lista de Pedidos</h2>
    <div class="table-responsive">
        <table class="table table-dark table-bordered">
            <tr>
                <th>Fecha Creaci&oacute;n</th>
                <th>Nombre Negocio</th>
                <th>Estado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            @foreach (Pedido p in Model)
            {
                <tr>
                    <td>@p.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@p.NombreNegocio</td>
                    <td>@p.EstadoPedido.Nombre</td>
                    <td>
                        @if (p.IdUsuarioResponsable == SessionManager.UsuarioSession.IdUsuario)
                        {
                            @Html.Raw("Responsable")
                        }
                        else
                        {
                            @Html.Raw("Invitado")
                        }
                    </td>
                    <td>
                        @if (p.IdUsuarioResponsable == SessionManager.UsuarioSession.IdUsuario)
                        {
                            <a href="/Pedidos/Editar/@p.IdPedido">Editar</a>
                            @Html.Raw(" - ")
                        }
                        <a href="/Pedidos/Elegir/@p.IdPedido">Elegir Gustos</a>
                        @if (p.IdUsuarioResponsable == SessionManager.UsuarioSession.IdUsuario)
                        {
                            @Html.Raw(" - ")
                            <a href="/Pedidos/Eliminar/@p.IdPedido">Eliminar</a>
                        }
                    </td>
                </tr>
            }
        </table>
        <p>
            <a href="/Pedidos/Iniciar/">
                <button type="button" class="btn btn-dark">Nuevo</button>
            </a>
        </p>
    </div>
</div>

