@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

@model List<Pedido>
<div class="container">
    <h2>Lista de Pedidos</h2>
    <div class="table-responsive">
        <table class="table table-dark table-bordered">
            <tr>
                <th>Fecha Creaci&oacute;n</th>
                <th>Nombre Negocio</th>
                <th>Estado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            @foreach (Pedido p in Model)
            {
                <tr>
                    <td>@p.FechaCreacion.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@p.NombreNegocio</td>
                    <td>@p.EstadoPedido.Nombre</td>
                    <td></td>
                    <!--<td>p.Usuario.Rol.ToString()</td>-->
                    <td>
                        @Html.ActionLink("Editar", "Modificar", new { Id = p.IdPedido })
                        @Html.Raw(" - ")
                        @Html.ActionLink("Elegir Gustos", "Elegir", new { Id = p.IdPedido })
                        @Html.Raw(" - ")
                        @Html.ActionLink("Eliminar", "Eliminar", new { Id = p.IdPedido })
                    </td>
                </tr>
            }
        </table>
        <p>
            <a href="/Pedidos/Iniciar/">
                <button type="button" class="btn btn-dark">Nuevo</button>
            </a>
        </p>
    </div>
</div>
