@{
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

@model Usuario

<div class="banner-area2">
    <div class="bg-image bg-parallax overlay" style="background-image:url(../../Imagenes/background01.jpg)"></div>
    @*<div class="container">*@
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="white-text title">Empanadas Delivery - Iniciar Sesión</h2>
            </div>
        </div>
    @*</div>*@
</div>
<div class="container text-center">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Iniciar Sesión</h2>
                <p>Ingrese su usuario y contraseña</p>
            </div>
            <div id="Login" class="col-md-12">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <br />
                    <div class="form-group col-lg-offset-5">

                        <div class="row">
                            @Html.TextBoxFor(c => c.Email, new { @class = "form-control", placeholder = "Email", name = "email", id = "email" })
                        </div>
                    </div>
                    <div class="form-group col-lg-offset-0">
                        @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-offset-5">

                        <div class="row ">
                            @Html.TextBoxFor(c => c.Password, new { @class = "form-control", placeholder = "Password", type = "password", name = "password", id = "password" })

                        </div>
                    </div>
                    <div class="form-group col-lg-offset-0">
                        @Html.ValidationMessageFor(c => c.Password, "", new { @class = "text-danger" })
                    </div>
                    @Html.Hidden("url", @Request.QueryString["url"])
                    <button type="submit" id="btnIngresar" name="btnIngresar" class="btn btn-primary">Ingresar</button>
                }
            </div>
        </div>
    </div>
</div>
